html, body { 
	line-height: 1.5;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%; 
    margin: 0px;
}

.card_container{
    position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
	z-index: 99;
}
.card{
    width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;	
}

body::after{
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background: rgba(71,63,59,0.5);
}
.card_current{
    visibility: visible;
	z-index: 1;
}
.onTop{
    z-index: 999;
}

.card_body{
    text-align: -webkit-center;
    padding: 280px 0px;
	margin: auto;
	padding-left: 1%;
    padding-right: 1%;
}

.nxtBtn {
    position: absolute;
	width: 300px;
	z-index: 999;
	top: 87%;
	left: 50%;
	margin-top: 130px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%); 
    transform: translateX(-50%);
    
	border: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 10px 0 20px;
	padding: 0px 20px;
	line-height: 50px;
	height: 50px;
	letter-spacing: 1px;
	width: 100%;
	cursor: pointer;
	display: block;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: #fff;
	color: #aaa;
}

button {
	margin-bottom: 0;
}

.nxtBtn:active {
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}